/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 10px 0px 10px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 54px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */

form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 154px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

form > div {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .logo {
    /* adjust font-size for mobile*/
    font-size: 24px;
  }

  header {
    /* Changes `block` to `flex`. */
    display: flex;

    /*align  center*/
    align-items: center;

    padding: 0 0 0 15px;
    /*Pushes logo*/
    justify-content: space-between;
  }

  /*----form adjustments---*/

  form {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  form > div,
  form > button {
    /*fit width of 5 items to page*/
    width: 20%;
  }
  form > div {
    /*stack label and form*/
    display: flex;
    flex-direction: column;
  }

  form input,
  form select {
    width: 100%;
    font-size: 10px;
  }

  form button,
  form label {
    font-size: 12px;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  #ideas .group {
    /*2x2 orientation*/
    flex-direction: column;
  }

  #about img {
    object-fit: contain;
  }

  /*---#host id adjustments---*/

  #host {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  .hosting {
    flex: 1;
  }
}
